.list-category {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: lightyellow;
}
.list-items {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: grey;
    list-style: none;
    text-align: center;
    margin-bottom: 0px;
}

.list-items li:hover {
    color: black;
    font-weight: bold;
    cursor: pointer;
}