@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

/* 3. Register fonts in the Tailwind v4 Theme */
@theme {
  --font-playfair: "Playfair Display", serif;
  --font-satoshi: "Satoshi", sans-serif;
}